<div class="gray-box-1"></div>
<div class="overlay-box">
  <p>Hey {{ firstName }}! Let's get to Work!</p>
</div>
<div class="container">

  <div class="task-column to-do-tasks" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'completed')">
    
    <h2>To-Do List</h2>
    <div style="background-color: #858CAB;" class="to-do" *ngIf="tasks && tasks.length > 0; else noTasks">
      <ul style="background-color: #858CAB;">
        <li *ngFor="let task of tasks" draggable="true" (dragstart)="onDragStart(task)">
          {{ task.description }}
          <button class="delete-button" (click)="deleteTask(task.taskId)">X</button>
        </li>
      </ul>
    </div>

    <ng-template #noTasks>
      <p class="tasks" style="background-color: #2B2D33; color: aliceblue; padding: 20px; font-size: 16pt; margin-bottom: 20px;">No tasks yet, let's add some!</p>
    </ng-template>

  </div>

  <div class="button-column add-delete-tasks">
    <button (click)="openDialog()">Add Task</button> 
  </div>

  <div class="task-column completed-tasks" (drop)="onDrop($event, 'completed')">
    <h2>Completed</h2>
    <ul style="background-color: #858CAB;">
      <li *ngFor="let task of doneTasks" draggable="true" (dragover)="onDragOver($event)" >
        {{ task.description }}
        <button class="delete-button" (click)="deleteTask(task.taskId, true)">X</button>
      </li>
    </ul>
  </div>
</div>
