<div class="container">
    <div class="image-div">
      <img src="./assets/founder.jpg" alt="Founder's Portrait">
    </div>
    <div class="about-us">
      <h1>About Us</h1>
    </div>
      <div class="central-box">
        <h2>Meet James "Jim" Bucket</h2>
        <p> Born and raised in the heart of Silicon Valley, James "Jim" Bucket, the visionary founder
             of NodeBucket, possesses the DNA of innovation in his veins. Raised in an environment that
             thrived on cutting-edge technology, Jim always exhibited a passion for problem-solving 
             and a deep curiosity about the digital world.
            
            After graduating with honors from the prestigious Stanford University with a degree in 
            Computer Science and Project Management, Jim embarked on a remarkable journey in the tech 
            industry. For over two decades, he dedicated himself to the world of project management, 
            working with some of the most renowned tech giants, both as an employee and as a consultant.
            
            It was during one sunny breakfast with his two young sons that Jim experienced a moment of 
            epiphany. As he struggled to manage work tasks while ensuring his kids were fed and ready 
            for school, he realized the glaring inefficiency in task assignment and tracking. Fueled 
            by this insight and motivated by the desire to make project management simpler, Jim 
            conceptualized NodeBucket. 
            
            His commitment to clients knows no bounds. Jim's mantra has always been to provide the best 
            experience possible. He understands the complexities of project management and the critical 
            role it plays in business success. This commitment to excellence is what drives NodeBucket's
             mission to create a user-friendly web application tailored to the needs of companies 
             managing workload for multiple employees and projects. Jim's journey is a testament to the 
             power of innovation and the dedication to solving real-world challenges with technology.
            
            Today, NodeBucket stands as a testament to Jim's vision and unwavering commitment to 
            simplifying project management, allowing companies to achieve their project goals 
            effectively and with simplicity.</p>
            <div class="attribution">
                <em class="attribution">
                  Photo by Sheikh Asif on <a class="attribution-link" href="https://unsplash.com/photos/man-in-black-zip-up-hoodie-bH52nI9lvQc">Unsplash</a>
                </em>
            </div>
      </div>
  </div>