<div class="gold-box-1"></div>
<div class="blue-circle"></div>
<div class="gold-circle-1"></div>
<div class="contact-container">

    <div class="contact-box">

      <div class="address-box" style="background-color: #858CAB;">
        <h1 style="text-decoration: underline;">NodeBucket HQ</h1>
        <h3>1000 Galvin Rd S, <br> Bellevue, NE 68005</h3>

      </div>
      <div class="contact-us-box" style="background-color: #858CAB;">
        <h1 style="text-decoration: underline;">Contact us</h1>
        <h3>For any inquiries or support, please feel free to reach out to us!</h3>
        <i class="material-icons">phone</i>
        <i class="material-icons">email</i>
            <div class="contact-info-box" style="background-color: #3D4D8A;">
                <h3 class="contact-info">Phone : (530) 583-3084</h3>
                <h3 class="contact-info">Email : <a href="mailto:info@nodebucket.com">nodebuckethelp@nodebucket.com</a></h3>

            </div>
      </div>
    </div>
    <div class="map-overlay">
        <iframe
        width="542"
        height="300"
        frameborder="0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.1708319991543!2d-95.91707668459035!3d41.15920997928702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793ad9f731c53b7%3A0x10b5d9cf7cf30fa9!2s1000%20Galvin%20Rd%20S%2C%20Bellevue%2C%20NE%2068005%2C%20USA!5e0!3m2!1sen!2suk!4v1643082346767!5m2!1sen!2suk"
        allowfullscreen=""
        loading="lazy"
        ></iframe>
    </div>
</div>


  