<div class="box">
    <h1>Welcome to NodeBucket</h1>
    <h2>Finally, a way to achieve your project goals effectively and with simplicity</h2>
  <button routerLink="/sign-in" class="sign-in-button">Sign-In</button>
</div>

<!-- These are simply design divs to help me create the look I wanted -->
<div class="blue-circle"></div>
<div class="blue-circle-2"></div>
<div class="blue-circle-3"></div>
<div class="blue-circle-4"></div>
<div class="blue-circle-5"></div>
<div class="gold-box-1"></div>
<div class="gold-box-2"></div>

<div class="feature-box">
  <h2>With NodeBucket</h2>
  <ul>
    <li>Facilitate task tracking</li>
    <li>Enhance project management processes</li>
    <li>Keep everyone on the same page</li>
  </ul>
</div>

<!-- The idea here is to make it look like an example of what you'll see when you log in and use the app -->
<div class="todo-box">
  <div class="outer-rectangle">

    <div class="inner-box">
      <div class="column">
        <h3>To-Do</h3>

        <!-- This is a way to make it look like lines of text -->
        <hr><hr><hr><hr><hr><hr><hr><hr>

      </div>
      <div class="buttons">
        <button>Add</button>
        <button>Delete</button>
        <button>Move</button>
      </div>
      <div class="column">
        <h3>Done</h3>
        <hr><hr><hr><hr>
      </div>
    </div>

  </div>
</div>






